body {
  margin: 0;
  overflow: hidden;
}

#title {
  margin: 0;
}

.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    'content-area terminal-area' 1fr
    / 590px auto;
  gap: 0px;
}

.content-area {
  grid-area: content-area;
  border-right: 2px solid;
}

.console-area {
  margin-top: 0;
  padding-bottom: 14px;
  border-bottom: 2px solid;
}

.console-area canvas {
  position: relative;
  top: 10px;
  left: 80px;
}

.debugprint-area {
  height: 330px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.terminal-area {
  grid-area: terminal-area;
}

.terminal-area textarea {
  width: 618px;
  height: 100vh;
  border: none;
  resize: none;
  background-color: black;
  color: white;
  font-family: 'courier new', Futura, Helvetica, '游ゴシック', 'メイリオ', Osaka;
  font-size: 10pt;
  line-height: 1.2em;
}

.terminal-area textarea::-webkit-scrollbar {
  display: none;
}

#tac-image {
  display: none;
}
